# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Vercel
.vercel

# Firebase
.firebase/
.firebaserc
firebase-debug.log
ui-debug.log

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
